@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html, body {
  background: black;
}

.spinspin {
  animation: spin 30s linear infinite;
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.spinspin-2 {
  animation: spin 15s linear infinite;
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.contact-text {
  min-width: 318px;
  max-width: 318px;
  @screen lg {
    min-width: 420px;
    max-width: 420px;
  }
}

.typing-demo {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  border-right: .15em solid white; /* The typwriter cursor */
  animation: 
    typing 8.5s steps(40, end),
    blink-caret .5s step-end infinite;
}

.copied-toast {
  @apply absolute text-sm p-2 bg-gray-400 bg-opacity-30 text-white rounded-xl tracking-wider;
  left: 0px;
  margin-top: 7rem;
  margin-left: 4rem;
  @screen lg {
    margin-top: 19rem;
    margin-left: 8rem;
  }
  opacity: 0;
}

.copied-toast--active {
  animation: slide-down 1.8s forwards;
}

@keyframes slide-down {
  0% {
     transform: translateY(-40px) scale(0.9); 
     opacity: 1;
  }
  50% {
      transform: translateY(-40px) scale(1); 
      opacity: 1;
  }
  100% {
      transform: translateY(-100px) scale(1);
      opacity: 0;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

@tailwind components;

@tailwind utilities;